<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeadTree</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

@using System.Security.Claims;
@{
    var t = User.FindFirst(ClaimTypes.Role);
    var userType = t == null ? "" : t.Value;
}

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">DeadTree</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @switch (userType)
                    {
                        case "专家":
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">故障信息管理 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-area="" asp-controller="FaultNameModels" asp-action="Index">故障名称管理</a></li>
                                        <li><a asp-area="" asp-controller="FaultFeaturesModels" asp-action="Index">故障特征管理</a></li>
                                        <li><a asp-area="" asp-controller="FaultResultsModels" asp-action="Index">故障原因管理</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">调查问卷 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-area="" asp-controller="QuestionsModels" asp-action="Index">问题管理</a></li>
                                        <li><a asp-area="" asp-controller="FeaturesMappingModels" asp-action="Index">故障特征映射</a></li>
                                        <li><a asp-area="" asp-controller="ResultsMappingModels" asp-action="Index">故障原因映射</a></li>
                                    </ul>
                                </li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Logout">注销</a></li>
                                break;
                            }
                        case "用户":
                            {
                                <li><a asp-area="" asp-controller="FaultNameModels" asp-action="UserIndex">故障名称知识图谱查询</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Logout">注销</a></li>
                                break;
                            }
                        case "超级管理员":
                            {
                                <li><a asp-area="" asp-controller="ComponentModels" asp-action="Index">Component</a></li>
                                <li><a asp-area="" asp-controller="ProfessorModels" asp-action="Index">Professor</a></li>
                                <li><a asp-area="" asp-controller="ApparatusModels" asp-action="Index">Apparatus</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">故障信息管理 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-area="" asp-controller="FaultNameModels" asp-action="Index">故障名称管理</a></li>
                                        <li><a asp-area="" asp-controller="FaultFeaturesModels" asp-action="Index">故障特征管理</a></li>
                                        <li><a asp-area="" asp-controller="FaultResultsModels" asp-action="Index">故障原因管理</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">调查问卷 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-area="" asp-controller="QuestionsModels" asp-action="Index">问题管理</a></li>
                                        <li><a asp-area="" asp-controller="FeaturesMappingModels" asp-action="Index">故障特征映射</a></li>
                                        <li><a asp-area="" asp-controller="ResultsMappingModels" asp-action="Index">故障原因映射</a></li>
                                    </ul>
                                </li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Logout">注销</a></li>
                                break;
                            }
                        default:
                            {
                                <li><a asp-area="" asp-controller="Home" asp-action="Regist">注册</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Login">登录</a></li>
                                break;
                            }
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - DeadTree</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
