@model DeadTree.Models.DBClass.FaultMappingModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>FaultMappingModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FNId" class="control-label"></label>
                <select asp-for="FNId" class ="form-control" asp-items="ViewBag.FNId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FFId" class="control-label"></label>
                <select asp-for="FFId" class ="form-control" asp-items="ViewBag.FFId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CId" class="control-label"></label>
                <select asp-for="CId" class ="form-control" asp-items="ViewBag.CId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
