@{
    ViewData["Title"] = "知识图谱";
}

<div class="jumbotron" style="background-image:url(/images/foreground_bluprint.svg)">
    <h2 style="color:white">@ViewData["Title"]</h2>
    <p class="lead" style="color:white">使用D3.JS构建的知识图谱</p>
</div>